.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*, *::after, *::before {
  box-sizing: border-box;
}

:root {
  --max-width: 1450px;
  --active-color: #2a2c54;
  --primary-color: #191a32;
  --highlight-color: #df3f3d;
  --semi-background: #2b2f6ea9;
}

.bn-onboard-custom  {
  z-index: 100;
}
